<div id="personnel" class="tab-panel">
  <div class="tab-content">
    <!-- Top row: message + reload -->
    <div class="personnel-toolbar">

      <div id="personnel-message" class="message-bar info hidden"></div>

      <button
        id="person-add"
        class="personnel-toolbar-btn"
        title="Add Person">
        + Person
      </button>

    </div>

    <div class="personnel-filters">

      <!-- Text filters -->
      <div class="filter-group">
        <label>Name</label>
        <input type="text" id="filter-name" placeholder="e.g. John" />
      </div>

      <div class="filter-group">
        <label>Team</label>
        <input type="text" id="filter-team" placeholder="e.g. C" />
      </div>

    </div>



    <!-- scroll container -->
    <div class="table-container personnel-table-container">
      <table class="data-table personnel-data-table">
        <thead>
          <tr>
            <th data-key="name">Name</th>
            <th data-key="team">Team</th>
          </tr>
        </thead>
        <tbody id="personnel-body">
          <!-- populated dynamically -->
        </tbody>
      </table>
    </div>    
  </div>
</div>
