/* ===============================
   Console Tab
   =============================== */

/* Console output window fills the tab */
#console .console {
  font-family: monospace;
  font-size: 0.75rem;
  white-space: pre-wrap;

  border: 1px solid #ccc;
  padding: 0.5rem;

  height: 100%;          /* fill tab vertically */
  overflow-y: auto;

  background: #fafafa;
}
